<h4>Formularios <small> Formularios por Templates </small></h4>
<hr>
<form autocomplete="off" (ngSubmit)="guardar(forma)" #forma="ngForm">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
                [class.is-invalid]="nombre.invalid && nombre.touched"
               type="text"
               name="nombre"
               placeholder="Nombre"
               [ngModel] = "usuario.nombre"
               required
               minlength="5"
               #nombre="ngModel">
        <small class="form-text text-danger"
        *ngIf="nombre.invalid && nombre.touched"> Ingrese al menos cinco letras</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
        [class.is-invalid]="apellido.invalid && apellido.touched"
              type="text"
               name="apellido"
               [ngModel]="usuario.apellido"
               placeholder="Apellido"
               #apellido="ngModel"
               required
               minlength="5"
               >
 <small class="form-text text-danger"
               *ngIf="apellido.invalid && apellido.touched"> Ingrese al menos cinco letras</small>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">

      <input class="form-control"
             type="email"
             ngModel
             name="correo"
             [class.is-invalid]="correo.invalid && correo.touched"
             placeholder="Correo electrónico"
             [ngModel]="usuario.correo"
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             #correo="ngModel"
             required
             >
             <small class="form-text text-danger"
        *ngIf="correo.invalid && correo.touched"> Campo obligatorio</small>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">País</label> 
    <div class="col-8"> 
      <select class="form-control"
              name="pais"
              [disabled]="paises.length === 0"
              required
              [ngModel]="usuario.pais"
              [class.is-invalid]="pais.invalid && pais.touched"
              #pais="ngModel"
              >
        <option *ngFor="let pais of paises" [value]="pais.codigo">
          {{pais.nombre}}
        </option>
      </select>
      <small class="form-text text-danger"
        *ngIf="pais.invalid && pais.touched"> Campo obligatorio</small>
    </div>
  </div>
    
  <div class="form-group row">
    <label class="col-4 col-form-label">Genero</label>
    <div class="col-1"></div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" 
      [class.is-invalid]="genero.invalid && genero.touched"
      type="radio"
      name="genero"
      [ngModel]="usuario.genero"  
      value="M"
      required
      #genero="ngModel">

      <label class="form-check-label"> Masculino </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" 
      [class.is-invalid]="genero.invalid && genero.touched"
      type="radio"
      name="genero"
      value="F"
      required
      [ngModel]="usuario.genero"
      #genero="ngModel"
      >
      <label class="form-check-label"> Femenino </label>
    </div>
  </div>
  
   

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>
